<ion-app>
    <ion-menu contentId="content1" side="start" >
        <ion-header >
          <ion-toolbar >
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>  
        <ion-content >
          <ion-list >
            <ion-menu-toggle auto-hide="false">
                <ion-item [routerDirection]="'root'" [routerLink]="['/home']">
                    <ion-label>
                        <ion-icon slot="start" name="home"></ion-icon>
                        Home
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="auth.isLoggedIn()" [routerDirection]="'root'" [routerLink]="['/profile']">
                    <ion-label>
                        <ion-icon slot ="start" name="profile"></ion-icon>
                        Profile
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="auth.isLoggedIn() && auth.canOpen('admin')">
                    <ion-label>
                        <ion-icon slot="start" name="services"></ion-icon>
                        My Services
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="auth.isLoggedIn()" (click)="auth.logout()" [routerDirection]="'root'" [routerLink]="['']">
                    <ion-label>
                        <ion-icon slot="start" name="log-out"></ion-icon>
                        Log out
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="!auth.isLoggedIn()" [routerDirection]="'root'" [routerLink]="['/login']">
                    <ion-label>
                        <ion-icon slot="start" name="log-in"></ion-icon>
                        Log in
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="!auth.isLoggedIn()" [routerDirection]="'root'" [routerLink]="['/register']">
                    <ion-label>
                        <ion-icon slot="start" name="key"></ion-icon>
                        Register
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="auth.isLoggedIn() && auth.canOpen('admin')" [routerDirection]="'root'" [routerLink]="['/admin']">
                    <ion-label>
                        <ion-icon slot="start" name="settings"></ion-icon>
                        Admin
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main ></ion-router-outlet>
</ion-app>
