<div *ngIf="service!==null">
    <div *ngFor="let s of service">
        <app-header title="Service"></app-header>

        <app-separating-headline [title]="s.serviceName">{{s.serviceName}}</app-separating-headline>
        <ion-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <app-image-slider [detailImgs]="s.img" title="image-slider"></app-image-slider>
                    </ion-col>
                    <ion-col>
                        <app-essential [service]="s" title="essential-info"></app-essential>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-title></ion-title>
                    <ion-col>
                        <app-description [title]="s.serviceName" [service]="s" title="description"></app-description>
                    </ion-col>
                    <ion-col>
                        <app-contact-information [service]="s" title="contact-info"></app-contact-information>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </div>
</div>
