<app-header></app-header>
<ion-item></ion-item>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-image-slider title="image-slider"></app-image-slider>
            </ion-col>
            <ion-col>
                <app-essential title="essential-info"></app-essential>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-description title="description"></app-description>
            </ion-col>
            <ion-col>
                <app-contact-information title="contact-info"></app-contact-information>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
