<app-header title="Profile"></app-header>
<ion-content>
    <div>
        <div class="ion-padding">
            <ion-list>
                <ion-item>
                    <ion-title>Last Name
                    </ion-title>
                    <ion-input *ngIf="allowEdit" type="text" placeholder="{{currentUser.lastName}}" name="lastName"
                               [(ngModel)]="currentUser.lastName"></ion-input>
                    <ion-text *ngIf="!allowEdit">{{currentUser.lastName}}</ion-text>
                </ion-item>
                <ion-item>
                    <ion-title>First Name</ion-title>
                    <ion-input *ngIf="allowEdit" type="text" placeholder="{{currentUser.firstName}}" name="firstName"
                               [(ngModel)]="currentUser.firstName"></ion-input>
                    <ion-text *ngIf="!allowEdit">{{currentUser.firstName}}</ion-text>
                </ion-item>
                <ion-item>
                    <ion-title>Email</ion-title>
                    <ion-input *ngIf="allowEdit" type="text" placeholder="{{currentUser.email}}" name="email"
                               [(ngModel)]="currentUser.email"></ion-input>
                    <ion-text *ngIf="!allowEdit">{{currentUser.email}}</ion-text>
                </ion-item>
                <ion-item>
                    <ion-title>User Name</ion-title>
                    <ion-text>{{currentUser.username}}</ion-text>
                </ion-item>
            </ion-list>
        </div>
        <ion-button *ngIf="!allowEdit" size="default" type="click" (click)="onClick()">Edit</ion-button>
        <ion-button *ngIf="allowEdit" size="default" type="submit" (click)="onSubmit()">Save</ion-button>
    </div>
</ion-content>
