ion-slides {
  position: fixed;
  top: 150px;
  left: 25px;
  height: 300px;
  width: 450px;
}

ion-icon {
  height: 300px;
}

ion-img {
  height: 300px;
  align-content: center;
}

.arrow-forward {
  background: rgba(255,255,255,0.5);
}
