<app-header [title]="'New Service'">New Service</app-header>

<ion-content>
  <form margin-bottom [formGroup]="serviceForm" (keydown.enter)="onSubmit(serviceForm.value)" (ngSubmit)="onSubmit(serviceForm.value)">
    <app-form-input [givenName]="'category'" [text]="'Category'" [validationMessages]="validationMessages.category" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'subCategory'" [text]="'Sub-category'" [validationMessages]="validationMessages.subCategory" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'serviceName'" [text]="'Name of your service'" [validationMessages]="validationMessages.serviceName" [registerForm]="serviceForm"></app-form-input>
    <div *ngIf="imageIndices.length != (0 || null)">
    <div *ngFor="let index of imageIndices">
      <app-form-input [givenName]="'img' + index.toString()" [text]="'Image URL'" [validationMessages]="validationMessages.img" [registerForm]="serviceForm"></app-form-input>
    </div>
    </div>
    <ion-button (click)="onClickAddImageField()" [disabled]="currentIndex === 10" color="medium"><ion-icon name="add"></ion-icon> add Image</ion-button>
    <app-form-input [givenName]="'price'" [text]="'Price'" [validationMessages]="validationMessages.price" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'maxPeople'" [text]="'Maximum of People'" [validationMessages]="validationMessages.maxPeople" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'location'" [text]="'Location'" [validationMessages]="validationMessages.location" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'street'" [text]="'Street'" [validationMessages]="validationMessages.street" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'city'" [text]="'City'" [validationMessages]="validationMessages.city" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'zip'" [text]="'Zip'" [validationMessages]="validationMessages.zip" [registerForm]="serviceForm"></app-form-input>
    <app-form-input [givenName]="'description'" [text]="'Description'" [validationMessages]="validationMessages.description" [registerForm]="serviceForm"></app-form-input>

    <ion-item *ngIf="errorMessage">
      <ion-text class="error-message" >{{ errorMessage }}</ion-text>
    </ion-item>
    <ion-button size="default" type="submit" [disabled]="!serviceForm.valid || !auth.isLoggedIn() || !canCreateService()">Create service!</ion-button>
  </form>
</ion-content>
