<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-avatar><img alt="Site logo" src="https://via.placeholder.com/150"></ion-avatar>
                </ion-col>
                <ion-col class="ion-text-right">
                    <app-overlay-controller
                            *ngIf="!isThisLoginOrRegisterPage() && !auth.isLoggedIn() && !auth.displayPopover()"></app-overlay-controller>
                    <ion-button *ngIf="!auth.isLoggedIn()" [routerLink]="['/login']">Log in!</ion-button>
                    <ion-button *ngIf="!auth.isLoggedIn()" [routerLink]="['/register']">Register!</ion-button>
                    <ion-button *ngIf="auth.isLoggedIn()" (click)="logout()">Log out!</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-header>
