<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                    <ion-icon [routerLink]="['/home']" name="home"></ion-icon>

                    <ion-title class="ion-text-capitalize">
                        {{ title }}
                    </ion-title>
                    </ion-item>
                </ion-col>
                <ion-col class="ion-text-right">
                    <app-overlay-controller
                        *ngIf="!isThisLoginOrRegisterPage() && !auth.isLoggedIn() && auth.displayPopover()">
                    </app-overlay-controller>
                    <ng-container *ngIf="!auth.isLoggedIn()">
                        <ion-button [routerLink]="['/login']">Log in!</ion-button>
                        <ion-button [routerLink]="['/register']">Register!</ion-button>
                    </ng-container>

                    <ion-icon [routerLink]="['/profile']" *ngIf="auth.isLoggedIn()" class="header-logo" name="person"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
