.clicks {
  align-self: center;
  alignment: center;
  padding-right: 10%;
}

@media (min-width: 500px) {
  ion-list {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 600px) {
  .clicks{
    display: none;
  }
}
