ion-card {
  transition: transform .2s ease-out;
  margin: 0px;
  min-width: 100px;
  min-height: 100px;
  max-width: 350px;
  max-height: 350px;
}

ion-card:hover {
  box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.5);
  transform: scale(1.5);
  //transform-origin: 5% 75%;
  filter: blur(2px);
}

ion-card-content:hover {
  background-color: rgba(0, 0, 0, 0.5);

}
