<ion-row class="service">
    <ion-col size-md="12">
        <ng-container [ngSwitch]="auth.isLoggedIn()">
            <ng-container *ngSwitchCase=true [ngSwitch]="auth.canCreateNewService()">
                <ng-container *ngSwitchCase=true>
                    <p>Do you offer a service?</p>
                    <p>Create your service now.</p>
                    <ion-button class="button" [routerLink]="['/newservice']">Create service!</ion-button>
                </ng-container>
                <ng-container *ngSwitchCase=false>
                    <p>Do you need a service?</p>
                    <p>Search for it now.</p>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase=false>
                <p>Do you offer a service?</p>
                <p>Create your service now.</p>
                <ion-button class="button" [routerLink]="['/login']">Create service!</ion-button>
            </ng-container>
        </ng-container>
    </ion-col>
</ion-row>
