<app-header></app-header>
<ion-content>
    <ion-grid>
        <ion-row class="searchbar">
            <ion-searchbar></ion-searchbar>
        </ion-row>
        <!--<ion-item-divider class="container">-->
        <ion-row class="title">
            <ion-col size-md_="12">
                <ion-title><h1>Categories</h1></ion-title>
            </ion-col>
        </ion-row>
<!--</ion-item-divider>-->

        <ion-row class="category-previews">

            <ion-col size="12" size-sm="6" size-md="3">
                <app-preview-card [routerLink]="['/category/location']" title="Location"></app-preview-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-md="3">
                <app-preview-card [routerLink]="['/category/catering']" title="Catering"></app-preview-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-md="3">
                <app-preview-card [routerLink]="['/category/entertainment']" title="Entertainment"></app-preview-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-md="3">
                <app-preview-card [routerLink]="['/category/security']" title="Security"></app-preview-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-md="3">
                <app-preview-card [routerLink]="['/category/marketing']" title="Marketing"></app-preview-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-md="3">
                <app-preview-card [routerLink]="['/category/miscellaneous']" title="Misc."></app-preview-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
    <ion-row class="service">
        <ion-col size-md_="12">
            <ion-label>Do you offer a service?</ion-label>
            <p size="6">Create now your service.</p>
            <ion-button class="button"[routerLink]="['/newservice']">Create service!</ion-button>
        </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
