.category-previews app-preview-card {
  cursor: pointer;
}

.categories {
  position: center;
  align-self: center;
}

.category-previews {
  margin-top: 10px;
  margin-bottom: 50px;
  alignment: center;
}

app-preview-card {

}

ion-grid {
}

