
<app-header title="Home"></app-header>

<ion-content>

    <app-searchbar></app-searchbar>

    <app-separating-headline [title]="'Categories'"></app-separating-headline>

    <ion-grid>
        <ion-row class="category-previews">
            <ion-col *ngFor="let category of categories" size="12" size-sm="6" size-md="3" class="categories">
                <app-preview-card [routerLink]="['/category', category.name]" [imgSrc]="category.img" title={{category.name}}></app-preview-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-footer></app-footer>

</ion-content>
