<ion-card class="essential-info">
    <ion-card-header>
        <ion-card-title>
            Essential Information
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <h2>Location</h2>
        </ion-item>
        <p>{{service.location}}</p>
        <ion-item>
            <h2>Price</h2>
        </ion-item>
        <p>{{service.price}}.- CHF</p>
        <ion-item>
            <h2>Max people</h2>
        </ion-item>
        <p>{{service.maxPeople}}</p>

    </ion-card-content>
</ion-card>
