<form margin-bottom [formGroup]="registerForm"  (keydown.enter)="onSubmit(registerForm.value)" (ngSubmit)="onSubmit(registerForm.value)">
  <app-form-input [givenName]="'lastName'" [text]="'Last Name'" [validationMessages]="validationMessages.lastName" [registerForm]="registerForm"></app-form-input>
  <app-form-input [givenName]="'firstName'" [text]="'First Name'" [validationMessages]="validationMessages.firstName" [registerForm]="registerForm"></app-form-input>
  <app-form-input [givenName]="'email'" [text]="'Email'" [validationMessages]="validationMessages.email" [registerForm]="registerForm" [type]="'email'" [inputMode]="'email'"></app-form-input>
  <app-form-input [givenName]="'username'" [text]="'Username'" [validationMessages]="validationMessages.username" [registerForm]="registerForm"></app-form-input>
  <app-form-input [givenName]="'password'" [text]="'Password'" [validationMessages]="validationMessages.password" [registerForm]="registerForm" [type]="'password'"></app-form-input>
  <app-form-input [givenName]="'role'" [text]="'Role'" [validationMessages]="validationMessages.role" [registerForm]="registerForm" [type]="'role'"></app-form-input>

  <ion-item *ngIf="errorMessage">
    <ion-text class="error-message" >{{ errorMessage }}</ion-text>
  </ion-item>
  <ion-button size="default" type="submit" [disabled]="!registerForm.valid">Register now</ion-button>
</form>
